<footer class="task-total">
    <div class="task-total__inner container">
        <% if task.total_time > 0 %>
            <div>Total:</div>
            <div><%= duration(task.total_time) %></div>
        <% else %>
            <div>Add a todo and a detail to start...</div>
        <% end %>
    </div>
</footer>