
<main class="container">
  <%= link_to sanitize("&larr; Back to tasks"), tasks_path %>
  <div class="header">
    <h1>
      <%= @task.name %>
    </h1>
    <%= link_to 'New todo', new_task_todo_path(@task), class: "btn btn-primary" %>
  </div>
  <%= render @todos, task: @task %>
</main>