<main class="container landing">
    <h1>TeamTask</h1>
    <h4>for your entire team</h4>

    <% if user_signed_in? %>
        <%= link_to 'View Tasks', tasks_path, class: "btn" %>
    <% else %>
    <div class="landing__buttons">
        <%= link_to 'Signs in', new_user_session_path, class: "btn" %>
        <%= link_to 'Register', new_user_registration_path, class: "btn btn--primary" %>
    </div>
    <% end %>
</main>
