
<div class="todo">
  <div class="todo__header">
    <h2 class="todo__title">
        <%= if todo.done then 'X' else ' ' end %>
        <%= todo.name %>
    </h2>

    <div class="todo__actions">
      <%= button_to "Delete",
                    [task, todo],
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  [:edit, task, todo],
                  class: "btn btn--light" %>
    </div>
  </div>
</div>