<main class="container">
  <%= link_to sanitize("&larr; Back to task"), task_path(@task) %>

  <div class="header">
    <h1>New todo</h1>
  </div>
  <%= turbo_frame_tag @todo do %>
    <%= render "form", task: @task, todo: @todo %>
  <% end%>
</main>