.detail {
  display: flex;
  align-items: start;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-white);

  gap: var(--space-xs);
  margin-bottom: var(--space-s);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  @include media(tabletAndUp) {
    flex-wrap: nowrap;
  }

  &__name {
    flex: 1 1 0;
    min-width: 20ch;
    label {
      font-weight: bold;
    }
  }

  &__description,
  &__time {
    flex-basis: 100%;
    max-width: 100%;
    color: var(--color-text-muted);
    font-size: var(--font-size-s);
    label {
      font-weight: bold;
      font-size: var(--font-size-s);
    }
  }

  &__time {
    flex: 1 1 0;

    @include media(tabletAndUp) {
      flex-basis: 20%;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: var(--space-xs);
    // order: 2;
    flex: 1 1 auto;

    @include media(tabletAndUp) {
      flex-basis: 10%;
    }
  }

  &--form {
    box-shadow: var(--shadow-small);
    flex-wrap: wrap;
    .detail__time {
      display: block;
    }
  }

  &--header {
    display: none;
    background-color: var(--color-light);
    margin-bottom: var(--space-s);

    @include media(tabletAndUp) {
      display: flex;
      flex-wrap: nowrap;
    }

    .detail__time {
      flex-basis: 30%;
    }
  }
}
