.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-m);
  margin-bottom: var(--space-xxl);
  background-color: (var(--color-white));

  &__brand {
    font-weight: bold;
    font-size: var(--font-size-xl);
    color: var(--color-text-header);
    background-color: var(--color-tertiary);
    border-radius: 2px;
    margin-left: var(--space-xxs);
    border-radius: var(--space-xs);
    padding: var(--space-xxxs) var(--space-xs);
  }
  &__user-info {
    font-weight: bold;
    margin-left: auto;
    margin-right: var(--space-s);
    border: 1px dashed rgb(124, 124, 124);
    border-radius: 2px;
    padding: var(--space-xs) var(--space-s);
    font-size: var(--font-size-s);
    line-height: var(--space-s);
  }
  &__name {
    color: var(--color-text-header);
  }

  &__right {
    margin-left: auto;
  }
}
