.todo {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xxs);

  input[type="checkbox"] {
    // background-color: black;
    // outline: 10px solid black;
    // margin: var(--space-s);
    width: var(--space-l);
    height: var(--space-l);
  }
  input[type="text"] {
    flex-basis: 100%;
    padding: var(--space-xs);
  }
  .done {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    flex-basis: 100%;
  }
  form.todo &__actions {
    // outline: 2px solid rgb(255, 12s3, 0);
    @include media(tabletAndUp) {
      // outline: 2px solid green;
      margin-left: auto;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xs);
  }

  &__title {
    display: flex;
    gap: var(--space-xs);
    font-size: var(--font-size-xl);

    @include media(tabletAndUp) {
      font-size: var(--font-size-xxl);
    }
    img {
      max-width: var(--space-m);
      filter: invert(41%) sepia(14%) saturate(54%) hue-rotate(314deg)
        brightness(102%) contrast(94%);
    }
  }

  &__actions {
    display: flex;
    gap: var(--space-xs);
  }

  &__body {
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    box-shadow: var(--shadow-small);
    margin-top: var(--space-xs);
    padding: var(--space-xxs);
    padding-top: 0;

    @include media(tabletAndUp) {
      padding: var(--space-m);
    }
  }

  &__footer {
    border: dashed 2px var(--color-light);
    border-radius: var(--border-radius);
    text-align: center;
    padding: var(--space-xxs);

    @include media(tabletAndUp) {
      padding: var(--space-m);
    }
  }
}

.todo-done {
  h2 {
    text-decoration: line-through;
    color: var(--color-text-muted);
  }

  .btn.done {
    background-color: var(--color-primary-rotate);
    color: white;
  }
  .todo__body {
    background: var(--color-white);
  }
}
